{#
/**
 * @file blood_sugar_record.html.twig
 * Default theme implementation to present Blood sugar record data.
 *
 * This template is used when viewing Blood sugar record pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_blood_sugar_record()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('blood_sugar_record') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
